* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  background-color: #fafafa;
}

.section-news span,
.section-travel span {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 0 auto;
  border: 1px solid #1ba0e2;
  border-radius: 50%;
  padding: 0;
}

.section-news span::before,
.section-travel span::before{
  content: " ";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: block;
  width: 80px;
  border-top: 1px solid #1ba0e2;
}

.section-news span::after,
.section-travel span::after {
  content: " ";
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  width: 80px;
  border-top: 1px solid #1ba0e2;
}

.card-new,
.card-travel {
  overflow: hidden;
}

.card-new img,
.card-travel img {
  transform: scale(1);
  transition-duration: 0.7s;
}

.card-new:hover img,
.card-travel:hover img {
  transform: scale(1.2);
  transition-duration: 1s;
}


.card-title{
  height: 72px;
}


/* footer */

.footer {
  overflow: hidden;
  bottom:0px;
  width: 100%;
}
.footer .site-footer {
  background-image: url(./img/footer1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-width: 767px;
  background-color: #292F32;
  position: relative;
  color: #e2e2e2;


}
.footer .site-footer:before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  }

.list-menu {
  list-style-type: none !important;
  color: aliceblue !important;
  position: relative;
  padding-left: 1px;

}

.footer .site-footer .list-menu li a {
  color: #e2e2e2;
  text-decoration: none;
}
.footer .site-footer h3 {
  position: relative;
  font-size: 16px;
  color: #e2e2e2;
  text-transform: uppercase;
}
.footer .list-menu {
  margin-bottom: 15px;
  line-height: 2.1em;
}
.footer .copyright {
  text-align: center;
  color: #656565;
  font-size: 1em;
  position: relative;
  padding: 10px 0;
  background-color: #121212;
}

.footer-widget-content {
  position: relative;
  font-size: 16px;
  color: #e2e2e2;
}
